<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	    http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />
    <bean id="customerBean" class="Customer">
        <property name="action" value="buy"/>
        <property name="type" value="1"/>
    </bean>

    <bean id="personBean" class="Person" autowire="byName">
        <property name="name" value="wangzilin"/>
    </bean>

<!--    <bean id="person" class="Person" autowire="byName"/>-->

<!--    <bean id="invisible" class="Ability">-->
<!--        <property name="skill" value="Invisible"/>-->
<!--    </bean>-->

    <bean id="ability" class="Ability">
        <property name="skill" value="Smart"/>
    </bean>

</beans>

